.hold-banner {
    margin-top: 15%;
    h1 {
        font-size: 700%;
    }
}

.form {
    p {
        font-size: 80%;
    }
}

.countdown {
    margin-top: 80px;
    h1 {
        letter-spacing: 20px;
    }
}

body {
    background: #000;
}